POSTGRES_DB=survey_db
POSTGRES_USER=survey_user
POSTGRES_PASSWORD=survey_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
SECRET_KEY=troque-esta-chave-em-producao
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
